<?xml version="1.0" encoding="utf-8" ?>
<!-- Rename this file to User.config and specify your settings-->
<userSettings>
  <!-- The url to wherever you have Contingency Reader hosted-->
  <serviceUrl value="http://url to your instance/api/"/>

  <!-- A random token used to secure incoming service requests. Needs to match the serviceToken in the Reader.Web configuration file -->
  <authToken value="make up a token and put it here"></authToken>
</userSettings>