<?xml version="1.0" encoding="utf-8" ?>
<!-- Rename this file to User.config and specify your settings-->
<userSettings>
  <!-- Make up a username and password for the application -->
  <account username="admin" password="password"/>

  <!-- The connection string to your Azure Table Storage account -->
  <connectionString value="Azure connection string goes here"/>
</userSettings>