html, body
{
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    font-size: .85em;
    font-family: "Arial", Sans-Serif;
    color: #232323;
    background-color: #fff;
}

html *
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

header, footer, nav, section
{
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #f00;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid
{
    display: none;
}

.no-items
{
    color: #686868;
    text-align: left;
    margin-top: 20px;
}

#header
{
    height: 80px;
    width: 100%;
    margin: 0 0 .5em 0;
    background-color: #ddd;
    border-bottom: solid 1px #686868;
}

    #header h1
    {
        margin: 0;
        padding: 20px;
    }

        #header h1 a
        {
            text-decoration: none;
            color: #000;
        }

#nav
{
    position: absolute;
    top: 90px;
    left: 6px;
    bottom: 6px;
    width: 230px;
    padding: 0;
    padding-top: 6px;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#content
{
    overflow-y: scroll;
    text-align: left;
    position: fixed;
    top: 126px;
    left: 248px;
    right: 6px;
    bottom: 24px;
    width: auto;
    border-bottom: solid 1px #ececec;
}

#footer
{
    position: absolute;
    bottom: 6px;
    right: 6px;
    text-align: right;
    font-size: 10px;
    font-weight: bold;
}

    #footer a
    {
        text-decoration: none;
        color: #686868;
    }

        #footer a:visited
        {
            color: #686868;
        }

#feed-controls
{
    position: fixed;
    padding: 0;
    left: 248px;
    top: 84px;
    right: 6px;
    text-align: right;
    height: 46px;
}

    #feed-controls div
    {
        float: right;
        margin-left: 5px;
        margin-top: 4px;
    }

    #feed-controls input
    {
        height: 30px;
    }

    #feed-controls .feed-name
    {
        margin-top: 10px;
        font-weight: bold;
        font-size: 15px;
        float: left;
        margin-left: 0;
        padding-left: 0;
    }

.clear
{
    clear: both;
}

.button
{
    padding: .4em 1em .4em 1em;
    background-color: #D34A32;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
}

.gray
{
    background-color: #BFBFBF;
    color: #EFEFEF;
    border: 0;
}

#add-feed
{
    border: solid 1px #ececec;
    padding: .5em;
    margin-top: 8px;
    position: relative;
}

.mini
{
    font-size: .85em;
    color: #808080;
}

a img
{
    border: none;
}

#feeds
{
    margin-top: 1em;
    height: auto;
    text-align: left;
}

    #feeds ul
    {
        list-style-type: none;
        padding: 0;
    }

    #feeds li
    {
        font-size: 13px;
        padding-top: 2px;
    }

        #feeds li a
        {
            width: 100%;
            display: block;
            color: #000;
        }

        #feeds li div.favicon
        {
            float: left;
            margin-right: 4px;
        }

    #feeds img
    {
        margin-top: 1px;
    }

    #feeds .name
    {
        float: left;
        margin-right: 4px;
        padding-top: 2px;
        max-width: 180px;
        max-height: 1.40em;
        overflow: hidden;
        line-height: 1.3em;
    }

    #feeds .unread-count
    {
        color: #666;
        font-size: 11px;
        font-weight: normal;
        padding-top: 4px;
    }

    #feeds li:hover
    {
        background-color: #ececec;
    }

    #feeds li.selected-feed a
    {
        color: #D34A32;
        font-weight: bold;
    }

    #feeds a
    {
        text-decoration: none;
    }

.alert
{
    font-weight: bold;
    padding: .5em;
    text-align: center;
    width: 400px;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -200px;
    height: auto;
}

.message
{
    border: solid 2px #005614;
    border-top: 0;
    background-color: #d9efd6;
    color: #005614;
}

.error
{
    border: solid 2px #4d0808;
    border-top: 0;
    background-color: #e6cdcd;
    color: #4d0808;
}

.item
{
    border: solid 1px #ececec;
    padding: .75em;
    margin-bottom: 2.0em;
    padding-bottom: 1.5em;
    overflow-x: hidden;
}

    .item .item-icons
    {
        float: right;
        text-align: right;
    }

        .item .item-icons img
        {
            float: right;
            margin-left: 10px;
        }

    .item h3
    {
        margin-top: .5em;
        margin-bottom: 0;
        font-size: 1.3em;
        float: left;
    }

        .item h3 a
        {
            text-decoration: none;
            color: blue;
        }

            .item h3 a:visited
            {
                text-decoration: none;
                color: blue;
            }

.selected-item
{
    border-left: solid 1px blue;
}

.date
{
    color: #808080;
    margin-bottom: 1.85em;
    margin-top: 0;
    font-size: .85em;
}
