<div class="option">
    <p><a href="@Url.Action("Purge")">Clear stored posts</a></p>
    <p>Clear all stored post data (read and unread items). Your starred items are saved and will not be cleared. Use this function to clean up the Contingency Reader database every once in a while.</p>
</div>
@using (Html.BeginForm("SaveOptions", "Default"))
{
    <div class="option">
       @Html.CheckBox("AutoRefresh") <label for="autoRefresh">Auto-refresh feeds on open</label>
        <p>Automatically refresh posts when you open a feed.</p>
    </div>
    <div class="option" style="border: none;">
        <input type="submit" value="Save Options" />
    </div>
}