@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding: 1em;">
    <form method="post" action="Login">
        <h2>Login</h2>
        <table>
            <tr>
                <td>Username :</td>
                <td>
                    <input name="Username" type="text" /></td>
            </tr>
            <tr>
                <td>Password :</td>
                <td>
                    <input name="Password" type="password" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input id="btnSubmit" type="submit" value="Submit" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">

                    @if (TempData["Error"] != null)
                    {<strong style="color: red;">
                        @TempData["Error"]</strong>
                    }

                </td>
            </tr>
        </table>
    </form>
</div>
<div id="footer">
    <a href="http://www.scottmetoyer.com">Scott Metoyer 2013</a>
</div>
